Web/BabyMonitor/node_modules
Web/BabyMonitor/.idea
Web/BabyMonitor/e2e
Web/Aegis-CAS/
Web/BabyMonitor/angular.json
Web/BabyMonitor/.idea/workspace.xml
Web/BabyMonitor/.idea/vcs.xml
Web/BabyMonitor/.idea/modules.xml
Web/BabyMonitor/.idea/inspectionProfiles/Project_Default.xml
Web/BabyMonitor/.idea/codeStyles/Project.xml
Web/BabyMonitor/.idea/codeStyles/codeStyleConfig.xml
Web/BabyMonitor/.idea/BabyAegis.iml
Web/BabyMonitor/.editorconfig
